In [8]:
nama = "Dedi"
age = 20
address,province = "Jl.Cibolang","7413412"
scorePhyton = 80,5
isMarried = False

print("Nama :",nama)
print("Umur :",age)
print("Alamat :",address)
print("Nilai pemerograman :",scorePhyton)
print("Status pernikahan :",isMarried)

Nama : Dedi
Umur : 20
Alamat : Jl.Cibolang
Nilai pemerograman : (80, 5)
Status pernikahan : False

In [9]:
print("Tipe Data <nama>",type(nama))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePhyton>",type(scorePhyton))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <nama> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePhyton> <class 'tuple'>
Tipe Data <isMarried> <class 'bool'>

In [22]:
#Casting atau konversi Tipe Data
#Konversi dari String ke(int,floot,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool,sep="_")
#konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool,sep="_")
#konversi dari float ke (str,int,bool)
floatToStr = str(age)
floatToInt = int(age)
floatToBool = bool(age)
print(floatToStr,floatToInt,intToBool,sep="_")
##konversi dari bool ke (str,float,int)
boolToStr = str(age)
boolToFloat = float(age)
boolToInt = bool(age)
print(boolToStr,boolToFloat,boolToInt,sep="_")

7413412_7413412.0_True
20_20.0_True
20_20_True
20_20.0_True

In [26]:
city = "Makassar"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

M
r

In [21]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377
print("Nilai Desimal :",desimal)
print("Nilai Desimal dari 0xff:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("============-======================")
print("Nilai Biner dari :",desimal,bin(desimal))
print("Nilai Octal dari :",desimal,oct(desimal))
print("Nilai Hexa dari :",desimal,hex(desimal))

Nilai Desimal : 200
Nilai Desimal dari 0xff: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
============-======================
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [59]:
#Tipe data Collection
cities = ("Sukabumi","Jakarta","Barcelona","HamaMadrid")
print(cities)
print(cities[0])
print(cities[len(cities)-1])
print(cities)
print(cities[len(cities)-1][0])

#Tuple 
names = ("Andi","Budi","Caca")
print(names)
#names[0]="Andi" akan menyebabkan error' karena tuple adalah immutable

studentData = {
    "name" : "Andi",
    "address" : {
        "street" : "Barcelona",
        "number" : 12,
        "province" : "Catalunya"
    },
    "hobies":["Basket","Football"], 
    "age" : 12,
    "isMarried" : True
}    
    "name" : "Budi",
    "address" : {
        "street" : "Jampang",
        "number" : 25,
        "province" : "Leweng"
    },
    "hobies":["Badminton","Football"], 
    "age" : 21,
    "isMarried" : False
}
print(studentData)
print(studentData["address"]["province"]) #Catalunya
print(studentData[1])#Semua data dari andi
print(studentData[0]["hobies"][1])
print(studentData[0]["age"]) #21 -Umur Budi

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 34)

In [66]:
#Casting dictionary

list_tuple= [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [("Buah","Nanas muda"),("Harga",10000)]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = ...
tuple_list = ...

tuple_tuple= [("Club","Man united"),("Harga","Gratis karna bapuk")]
dictClub = dict(tuple_tuple)
print(dictClub)

tuple_tuple= ...
tuple_list= ...

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Nanas muda', 'Harga': 10000}
{'Club': 'Man united', 'Harga': 'Gratis karna bapuk'}